<div class="head">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="padding: 0;">
            <img alt="Brand" src="https://upload-images.jianshu.io/upload_images/9738230-d6efe980a80090be.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" style="max-height:50px;">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <% for (var item in theme.menu) { %>
                <li  class="<%= url_for(theme.menu[item]) == url_for(path).substring(0,  url_for(theme.menu[item]).lenght) ? 'active' : ''   %>"><a href="<%- url_for(theme.menu[item]) %>"><%- __(item) %></a></li>
              <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>