---
layout: index
keywords: 呵呵大王,heheking
description: dddddddd
---
<div class="container-fluid flush-with-header">
  <div class="row margin-bottom-40 row-corporate bg-light-1">
    <div class="container">
      <div class="col-xs-8 col-sm-6 row-corporate-text-container">
	<div class="row-corporate-text">
	  <h1>你好 <b class="require">我是呵呵大王</b>.</h1>
	  <h4 class="wow fadeIn">我是一个程序员，希望通过维护这个网站学到更多的知识，磨炼技能。认识更多志同道合的伙伴。</h4>
	</div>
      </div>
      <div class="col-xs-4 col-sm-6">
	<img src="/metronic/assets/pages/img/frontend-slider/ipadmini.png">
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row service-box margin-bottom-40">
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-book blue wow rollIn"></i></em>
	  <span>学习积累</span>
	</div>
	<p>记录学习过程与心得，督促自我成长。</p>
	  <img class="img-responsive"
	  src="/asset1.png">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-share-alt red wow rollIn"></i></em>
	  <span>技术分享</span>
	</div>
	<p>分享新知，交流心得。</p>
	  <img class="img-responsive"
	  src="/asset3.jpg">
      </div>
      <div class="col-md-4 col-sm-4">
	<div class="service-box-heading">
	  <em><i class="fa fa-wrench green wow rollIn"></i></em>
	  <span>在线工具</span>
	</div>
	<p>打造一个方便使用，的在线工具集。</p>
	  <img class="img-responsive"
	  src="/asset1.jpg">
      </div>
    </div>
    </div>
<div class="container-fluid">
<div class="row margin-bottom-40 row-corporate bg-light-2">
  <div class="container">
    <div class="col-xs-4 col-xs-pull-4 col-sm-pull-0 col-sm-6 wow fadeIn">
      <img src="/metronic/assets/pages/img/frontend-slider/iphone_right.png">
    </div>
    <div class="col-xs-6 row-corporate-text-container">
    <div class="row-corporate-text">
      <h1>呵呵大王致力于打造一个<b class="wow fadeIn require">程序员的在线工具集</b>.</h1>
      <h4 class="wow fadeIn">将一些零散的、实用功能集成到工具箱内，方便大家使用。</h4>
    </div>
    </div>
  </div>
</div>
</div>

<div class="main">
  <div class="container">
    <!-- BEGIN STEPS -->
    <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3 wow
    fadeIn">
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step1">
	  <h2>目标</h2>
	  <p>学习与积累</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step2">
	  <h2>分析</h2>
	  <p>实践是一个好办法</p>
	</div>
      </div>
      <div class="col-md-4 col-sm-4 front-step-col">
	<div class="front-step front-step3">
	  <h2>实践</h2>
	  <p>深入理解</p>
	</div>
      </div>
    </div>
    <!-- END STEPS -->
  </div>
</div>

